---

---
<section class="bg-white py-16 px-25">
   
  <div class="flex justify-between items-center mb-10">
    
    <h2 class="text-6xl font-josefin text-left text-gray-900">Our Creations</h2>
    
    <div class="border-4 border-black p-5">
      <p class="text-2xl font-bold">See all</p>
    </div>

  </div>

  
  <div class="grid grid-cols-4 gap-6">

    <div class="relative">
  <img src="/Imagenes/image-deep-earth.jpg" alt="Deep Earth" class="w-full h-auto object-cover">
  <p class="absolute bottom-4 left-1/2 transform -translate-x-1/2 text-white text-4xl font-Josefin Sans">
    Deep Earth
  </p>
</div>

    <div class="relative">
      <img src="/Imagenes/image-night-arcade.jpg" alt="Night Arcade" class="w-full h-auto object-cover">
      <p class="absolute bottom-4 left-1/2 transform -translate-x-1/2 text-white text-4xl font-Josefin Sans">Night Arcade</p>
    </div>

    <div class="relative">
      <img src="/Imagenes/image-soccer-team.jpg" alt="Soccer Team VR" class="w-full h-auto object-cover">
      <p class="absolute bottom-4 left-1/2 transform -translate-x-1/2 text-white text-4xl font-Josefin Sans">Soccer Team VR</p>
    </div>

    <div class="relative">
      <img src="/Imagenes/image-grid.jpg" alt="The Grid" class="w-full h-auto object-cover">
      <p class="absolute bottom-4 left-1/2 transform -translate-x-1/2 text-white text-4xl font-Josefin Sans">The Grid</p>
    </div>

    
    <div class="relative">
      <img src="/Imagenes/image-from-above.jpg" alt="From Above" class="w-full h-auto object-cover">
      <p class="absolute bottom-4 left-1/2 transform -translate-x-1/2 text-white text-4xl font-Josefin Sans">From Above</p>
    </div>

    <div class="relative">
      <img src="/Imagenes/image-pocket-borealis.jpg" alt="Pocket Borealis" class="w-full h-auto object-cover">
      <p class="absolute bottom-4 left-1/2 transform -translate-x-1/2 text-white text-4xl font-Josefin Sans">Pocket Borealis</p>
    </div>

    <div class="relative">
      <img src="/Imagenes/image-curiosity.jpg" alt="Curiosity" class="w-full h-auto object-cover">
      <p class="absolute bottom-4 left-1/2 transform -translate-x-1/2 text-white text-4xl font-Josefin Sans">Curiosity</p>
    </div>

    <div class="relative">
      <img src="/Imagenes/image-fisheye.jpg" alt="Make it Fisheye" class="w-full h-auto object-cover">
      <p class="absolute bottom-4 left-1/2 transform -translate-x-1/2 text-white text-4xl font-Josefin Sans">Make it Fisheye</p>
    </div>

  </div>
</section>