---

---

<header class="bg-gray-900 h-160 bg-cover bg-top text-white p-4 flex items-start justify-between pt-8"
        style="background-image: url('/Imagenes/image-hero.jpg');">


  <div class="absolute top-40 left-4 sm:left-8 bg-opacity-60 border-2 border-white p-4 w-56 sm:w-64 md:w-80 lg:w-96">
  <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-Josefin Sans mb-2">
    Immersive experiences that deliver
  </h2>
    
  </div>

  
  <div class="flex items-start justify-between w-full">
  <h1 class="text-3xl font-bold">Loopstudios</h1>
  <nav class="space-x-6">
    <a href="#" class="hover:text-gray-400">About</a>
    <a href="#" class="hover:text-gray-400">Careers</a>
    <a href="#" class="hover:text-gray-400">Events</a>
    <a href="#" class="hover:text-gray-400">Products</a>
    <a href="#" class="hover:text-gray-400">Support</a>
  </nav>
</div>
</header>