<part2 class="relative flex items-center justify-start bg-white-100 py-20">
  
  <img src="/Imagenes/image-interactive.jpg" 
       alt="imagen dos" 
       class="w-1/2 h-auto object-cover ml-25">

  <div class="absolute bottom-10 left-175 bg-white p-10 max-w-lg">
    <h2 class="text-4xl mb-2 text-gray-900 font-Josefin Sans">THE LEADER IN INTERACTIVE VR</h2>
    <p class="text-gray-700 font-Alata">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio minus voluptatibus explicabo aliquid quam, voluptate vel incidunt dolorem optio cum? Ducimus quasi suscipit possimus eius maiores nemo quibusdam, fuga accusamus?</p>
  </div>

</part2>